
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
/*Navbar */

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: rgba(253, 230, 187, 0.466);
    margin-bottom: 5%;
}
.links-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-around; 
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding-bottom:1rem;
}

.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
@media screen and (width <= 470px) {

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .links{
        display: none;
    }
    .links.is-open{
        display: flex;
        flex-direction: column;
        width: 20%;
        row-gap: .5rem;
    }
    a{
        border-bottom: .05rem solid black;
    }
    .links-container.is-open{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        align-items: center;
        margin-top: .5rem;
    }
}


/*Shop Page */
.product-display{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.displayed-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    height: 40%;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
}
.ind-product{
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}
.product{
    width: 100%;
    height: 90%;
    display: flex;
    border-bottom: .05rem solid black;
}
.product-info{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.product-info button{
    margin-top: 90%;
}
.product-image-container{
    width: 40%;
    height: 40%;
}
.product-image-container img {
    max-width: 100%;
    max-height: 100%;
}
.shop-product{
    width: 70%;
    height: 50%;
    border:1px solid black;
}
.image-container{
    width: 100%;
    height: 80%;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width:500px){
    .shop-product{
        width: 40%;
        height: 20rem;
        border:1px solid black;
    }
} 
@media screen and  (width > 768px){
    .shop-product{
        width: 25%;
        height: 20rem;
        border:1px solid black;
    }
} 
@media screen and  (width > 1024px){
    .shop-product{
        width: 20%;
        height: 20rem;
        border:1px solid black;
    }
} 



/* ///////////////////////////////////////////////////////*/

/* Footer Component */

footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 10%;
    border-top: .19rem solid rgba(253, 230, 187, 0.466);;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer p {
    margin-top: 10%;
    padding: 1rem;
    width: 100%;
    background-color: rgba(253, 230, 187, 0.432);
    text-align: center;
}
.footer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
a:hover{
    color:brown;
}
a{
    text-decoration: none;
     color:black;
     border-bottom:1px solid black;
}

.link-container span{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (width >=768px ) {
    .footer > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
    }
}
/* Cart section */
.cart-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30vh;
}
.cart-items{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.cart-totals{
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    background-color: rgba(155, 102, 4, 0.26);
    height: 35vh;
}
.cart-totals > div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 25%;
    align-items: center;
}
.cart-totals button{
    width: 50%;
    height: 20%;
    border-radius: .5rem;
    cursor: pointer;
}
.cart-totals button:hover{
    background-color: rgba(241, 160, 8, 0.26);;
    cursor: pointer;
}
.product{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    justify-content: space-around;
}
.cart-image{
    width: 22%;
    max-height: 100%;
}
.cart-image img {
    max-width: 100%;
    height: 100%;
}

@media screen and (width >=768px ) {
    .cart-items {
        width: 70%;
    }
    .cart-totals{
        width: 80%;
        font-size: 1.5rem;
    }
    .cart-image{
        width: 15%;
    }
    a{
        border-bottom:.5px solid black;
    }
}
@media screen and (width >=1024px ) {
    .cart-items {
        width: 50%;
    }
    .cart-totals{
        width: 20%;
        font-size: 1.5rem;
        margin-left: 10%;
        min-height: 45vh;
    }
    .cart-image{
        width: 15%;
    }
    a{
        border-bottom:.5px solid black;
    }
    .cart-totals button{
        width: 70%;
        height: 15%;
    }
}


